/* خلفية الصفحة */
.login-container {
    background-image: url('C:\Users\moham\react-app\src\assets\img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin-left: 40px;
    width: 200vh;
}


/* تصميم الكارد */
.login-card {
    background-color: rgba(255, 255, 255, 0.9); /* شفافية بسيطة */
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* ظل خفيف */
    text-align: center;
}

/* تصميم النصوص */
.login-card h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* تصميم الحقول */
.form-group {
    margin-bottom: 15px;
    margin-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* تصميم زر التسجيل */
.btn-submit {
    background-color: #c475a1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 15px;
}

.btn-submit:hover {
    background-color: #0056b3;
}

/* تصميم الرسائل */
.error-message {
    color: rgb(234, 67, 67);
    margin-bottom: 10px;
}

/* تصميم الخيارات (تذكرني، نسيت كلمة المرور) */
.form-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* تصميم رابط "إنشاء حساب جديد" */
.new-account {
    margin-top: 15px;
}

.new-account a {
    color: #007bff;
    text-decoration: none;
}

.new-account a:hover {
    text-decoration: underline;
}
